<h1>Listado de prestaciones</h1>

<br/>

<a mat-raised-button [routerLink]="'/prestaciones/crear'" color="primary">Crear prestacion</a>

<table mat-table [dataSource]="prestaciones" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="costo">
    <th mat-header-cell *matHeaderCellDef> Costo </th>
    <td mat-cell *matCellDef="let element"> {{element.costo}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo de Prestación </th>
    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="edit/delete">
    <th mat-header-cell *matHeaderCellDef> Edit/Delete </th>
    <td mat-cell *matCellDef="let element"> 
      <a mat-button [routerLink]="['/prestaciones/editar']" [queryParams]="{id: element.id}"><mat-icon>border_color</mat-icon></a> 
      <button mat-button (click)="onDelete(element.id)"><mat-icon>delete</mat-icon></button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>