mat-form-field{
    margin-top: 2rem;
    margin-left: 2rem;
    min-width: 450px;
}
button{
    margin-bottom: 2rem;
    margin-left: 2rem;
}
mat-option {
    border: 1px;
    border-style: solid;
    border-color: purple;
    border-collapse: collapse;
    padding: 10px;
}

table{
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
}
.soporte{
    margin-top: 2rem;
    margin-left: 2rem;
    min-width: 450px;
}
.soporte-checkbox{
    margin-right: 1rem;
    margin-bottom: 2rem;
}