<mat-toolbar color="primary">
    <a
    [routerLink]="'/'"
    mat-icon-button
    arial-label="Home icon"
  >
    <mat-icon>home</mat-icon>
  </a>
  <span>Back Office System</span>
  <div>
  <ul>
    <a mat-button [routerLink]="'/prestaciones'"> Prestaciones </a>
    <a mat-button [routerLink]="'/clientes'"> Clientes </a>
    <a mat-button [routerLink]="'/pedidos'"> Pedidos </a>
  </ul>
</div>
  <span class="example-spacer"></span>
  <a
    *ngIf = "!isLoggedIn"
    [routerLink]="'/login'"
    mat-raised-button
    class = "mr20"
    color="primary"
    aria-label = "Login page button"
  >
    Iniciar sesión
  </a>
  <a
    *ngIf = "!isLoggedIn"
    [routerLink]="'/signup'"
    mat-raised-button
    class="mr20"
    color="primary"
    aria-label="Singin page button"
  >
    Registrar
  </a>
  <button
    *ngIf = "isLoggedIn && user"
    mat-button
    style="margin-right: 10px"
    class="mr20"
    aria-label="Welcome message and user profile"
  >
    Bienvenidx {{ user }}
  </button>
  <a
    *ngIf = "isLoggedIn"
    (click) = "logout()"
    mat-raised-button
    class = "mr20"
    color="primary"
    aria-label="Logout icon"
  >
    Cerrar sesión
  </a>
</mat-toolbar>